@page
@model TodoApp.Pages.IndexModel

<div class="title">Todo List</div>
<form method="post">
    @Html.AntiForgeryToken()
    <input class="input-todo" asp-for="NewTodo.TodoName" minlength="5" maxlength="35" placeholder="Enter todo name"  type="text" required>
    <button class="add-todo" type="submit">Add Todo</button>
</form>
<div class="todos">
    @foreach (var todo in Model.todos){
        <div class="todo" id="@todo.Id">
        @if(todo.isComplete){
            <div class="todo-name strike-through">@todo.TodoName</div>
            <div class="delete-update-wrapper">
                <input type="checkbox" name="isComplete" checked>
                <button class="delete-todo">Delete</button>
            </div>
        }else{
            <div class="todo-name">@todo.TodoName</div>
            <div class="delete-update-wrapper">
                <input type="checkbox" name="isComplete" >
                <form asp-page-handler="Delete" method="post">
                    <button class="delete-todo">Delete</button>
                    <input type="hidden" name="id" value="@todo.Id"/>
                </form>
            </div>
        }
        </div>
    }
</div>